{% extends 'main/layout.html' %}

{% block main %}
    <p class="about-text">TOKYO DREAMS</p>
    <p class="about-text">Our mission is to provide you with the absolute Best Cars to buy or rent. We specialize in luxury cars and we only work with very low kilometer, exceptionally well maintained cars. We treat you as our personal guest to Moldova and do everything to make your time here memorable and amazing. Our entire business is about special service and premium vehicles. We enjoy special requests and will always find a way to make your time with a car the best possible time.</p>
    <p class="about-text">We bring your rental to you, and we pick it up from you as well. Based in Tiraspol, Moldova we cover the entire country. Please contact us to get the fast process of getting you into a beautiful car in Moldova started... </p>
{% endblock %}