{% extends 'main/layout.html' %}


{% block main %}
<div class="main_rent">
    <h1 class="rent_h" style="font-size: 110px; margin-top: 30px; color: white;" >Policies</h1>
    <p class="rent_text" style="margin-top: 45px;">Rental Requirements:</p>

    <h3 class="rent_h" style="margin-top: 80px;"><em><strong>MINIMUM DRIVING AGE</strong></em></h3>
    <p class="rent_text"> All drivers must be 25 years old or OVER. </p>

    <h3 class="rent_h"><em><strong>VALIDS</strong></em></h3>
    <p class="rent_text">Must have a valid drivers license in your country to rent in PMR. <br> Must have a valid International Drivers Permit to rent in Moldova.</p>

    <h3 class="rent_h"><em><strong>Cash Deposits</strong></em></h3>
    <p class="rent_text">Must use a valid credit card OR leave a deposit for the vehicle. Cash Deposits will be returned at the end of the rental if the car is returned in good condition. $100 must be held for 45 days PAST the end of your rental due to photo radar and other law enforcement potential problems. It will be returned after 45 days.</p>

    <h3 class="rent_h"><em><strong>FUEL</strong></em></h3>
    <p class="rent_text">You get the car with a full gas tank. It must be returned with a full tank or refueling charges will apply. $20 plus fuel.</p>

    <h3 class="rent_h"><em><strong>Rental time</strong></em></h3>
    <p class="rent_text">Your 24 hour day begins when the car key is handed to you. Late charges apply if returned late. $10 per hour, after 3 hours another full-day rental price is due. </p>

    <h3 class="rent_h"><em><strong>Unlimited kilometers</strong></em></h3>

    <h3 class="rent_h"><em><strong>Rental cancellation</strong></em></h3>
    <p class="rent_text">Rental cancellation allowed up to 24 hours prior to rental. No cancellation allowed less than 24 hours to rental time, however customers will be given full credit for their deposit on a different rental within 3 months.</p>

    <h3 class="rent_h"><em><strong>Payment</strong></em></h3>
    <p class="rent_text">Full Payment is done in advance, prior to rental, and can be made in local currency or various others ways including electronic funds transfers, Bitcoin, Visa Mastercard. MAKE SURE to discuss your payment method while setting up the rental.</p>

    <h3 class="rent_h"><em><strong>Cars are restricted to travel in Moldova only currently.</strong></em></h3>

    <h3 class="rent_h"><em><strong>Smoking</strong></em></h3>
    <p class="rent_text">No Smoking in rental cars. The car must be returned clean inside or a cleaning fee will be charged. Light cleaning $20, Heavy cleaning $50.</p>

    <h3 class="rent_h"><em><strong>Terminating the rental</strong></em></h3>
    <p class="rent_text">At any time the rental can be terminated, for any reason. All cars have GPS monitoring for aggressive driving. Terminating the rental typically happens after an initial warning or when a customer acts irresponsibly with the car or to the company representative.</p>
</div>


{% endblock %}