{% extends 'main/layout.html' %}

{% block main %}
<div class="container text-center" style="border-bottom: 1px #a8a8a8 solid; min-height: 200px;">
    <div class="row">
        <div class="col" ><p style="color: red; font-size: 47px;  margin-top: 20px;">FREE DRIVER</p></div>
         <div class="col" >
            <p style="color: #a8a8a8; font-size: 17px;  margin-top: 20px;">For the same rental price a personal driver can be included. Your rental is limited to 14 hours per day, however you arrange the hours you want with your driver. The value of having a local driver who knows the city and will help you conduct your business and affairs is truly amazing. Your personal liability for the car is completely waived (no deposit) giving you complete peace of mind. We highly, highly recommend this option.</p>
        </div>
    </div>
</div>
<div class="container text-center" style="border-bottom: 1px #a8a8a8 solid; min-height: 200px;">
    <div class="row">
        <div class="col" ><p style="color: red; font-size: 47px;  margin-top: 20px;">AIRPORT PICK UP / DROP OFF</p></div>
         <div class="col" >
            <p style="color: #a8a8a8; font-size: 17px;  margin-top: 20px;">We bring your car to you and hand you the keys right at the airport entrance! $50 fee arriving and departing.</p>
        </div>
    </div>
</div>
<div class="container text-center" style="border-bottom: 1px #a8a8a8 solid; min-height: 200px;">
    <div class="row">
        <div class="col" ><p style="color: red; font-size: 47px;  margin-top: 20px;">20% WEEKLY DISCOUNT</p></div>
         <div class="col" >
            <p style="color: #a8a8a8; font-size: 17px;  margin-top: 20px;">Rent the same car for 7 days straight and get 20% off the price.</p>
        </div>
    </div>
</div>
<div class="container text-center" style="border-bottom: 1px #a8a8a8 solid; min-height: 200px;">
    <div class="row">
        <div class="col" ><p style="color: red; font-size: 47px;  margin-top: 20px;">50% MONTHLY DISCOUNT</p></div>
         <div class="col" >
            <p style="color: #a8a8a8; font-size: 17px;  margin-top: 20px;">Rent the same car for 30 days straight and get 50% off the price.</p>
        </div>
    </div>
</div>
<div class="container text-center" style="border-bottom: 1px #a8a8a8 solid; min-height: 200px;">
    <div class="row">
        <div class="col" ><p style="color: red; font-size: 47px;  margin-top: 20px;">50% OFF</p></div>
         <div class="col" >
            <p style="color: #a8a8a8; font-size: 17px;  margin-top: 20px;">Wedding rental 4 hours only! 50% off! MUST come with our Driver.</p>
        </div>
    </div>
</div>
<div class="container text-center" style="min-height: 200px;">
    <div class="row" >
        <div class="col" ><p style="color: red; font-size: 47px; margin-top: 20px;">WINTER 50% DISCOUNT</p></div>
         <div class="col" >
            <p style="color: #a8a8a8; font-size: 17px;  margin-top: 20px;">November 1 to February 28 get a 50% discount. Minimum 2 day rental.</p>
        </div>
    </div>
</div>
{% endblock %}