{% extends 'main/layout.html' %}

{% block main %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/inventory" style="color: #CCCCCC;">ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/luxury" style="color: #CCCCCC">LUXURY CAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sportcars" style="color: #CCCCCC">SPORTS CAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/suv" style="color: red">SUV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% for el in invent %}
    {% if el.type == 'suv' %}
        <a href="{% url 'cars' el.id %}" style="text-decoration: none;">
        <div class="main-card ">
                <div><img  src = '{{ el.img_1 }}'  class="car-img"></div>
                <h3 style="text-align: center; font-family: Abel; color: #fff; font-size: 18px; margin-top: 5%;">{{ el.name }}</h3>
                <h4 style="text-align: center; font-family: Abel; color: #fff; font-size: 14px;">{{ el.rent }}</h4>
                <div class="middle">
                    <div style="background-color: #fff;font-size: 16px;padding: 16px 32px; font-family: Abel;">
                        <a href="{% url 'cars' el.id %}" style="text-decoration: none; color: black"><strong>VIEW</strong></a>
                    </div>
                </div>

        </div>
    </a>
    {% endif %}
{% endfor %}
{% endblock %}